.topbar-adm {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

.logo-img {
  height: 180px;
  object-fit: contain;
  cursor: pointer;
  margin-top: 8px;
  margin-left: -2px;
}


.topbar-right {
  display: flex;
  gap: 10px;
}

.topbar-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 12px;
  transition: background 0.2s;
}

.topbar-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.modal-notificacao-content {
    text-align: center;
    padding: 10px;
}

.modal-notificacao-content h3 {
    margin-bottom: 20px;
}

.modal-notificacao-content p {
    margin-bottom: 5px;
}

.modal-notificacao-content small {
    color: #978e8e5b;
}


.modal-notificacao-content .modal-actions button {
  background: linear-gradient(10deg, #0b7ff4, #110823);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.modal-notificacao-content .modal-actions button:hover {
  background-color: #0056b3;
}


.modal-recompensa-content button {
  background: linear-gradient(15deg, #0b7ff4, #110823); /* degradê amarelo/laranja */
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.modal-recompensa-content button:hover {
  
  box-shadow: 0 6px 18px rgba(0,0,0,0.5);
}
