.partners-wrapper {
  background-color: #FFF;
  padding: 32px 0;
  width: 75vw;
  margin: auto;
  overflow: hidden; /* Esconde imagens fora da área visível */
  box-shadow: 0px 32px 46px -32px rgba(0, 0, 0, 0.101);
}

.partners-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.partners-slide {
  display: flex;
  gap: 64px; /* Espaçamento entre as logos */
}

.partners-slide img {
  height: 60px;
  width: auto;
  cursor: pointer;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.partner3-img {
  transform: scale(0.7);
}
