/* Detalhes dos serviços */
/* Alinha detalhamento com o restante da página */
.service-details-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Alinha texto com o topo da imagem e aumenta largura da imagem */
.service-detail-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  padding: 48px 0;
  /* Removido border-bottom para eliminar separação excessiva entre os blocos */
}

.service-detail-content {
  flex: 1;
  max-width: 500px;
}

/* Título igual ao Serviços disponíveis */
.service-detail-content h4 {
  text-align: center;
  font-size: 32px;
  font-weight: normal;
  color: #040202;
  margin-bottom: 8px;
}

.service-detail-content p {
  font-size: 1.1rem;
  color: #222;
}

.service-detail-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.service-detail-image img {
  max-width: 700px;
  width: 80%;
  height: 500px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.537);
}
.service-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    /* Glassmorphism color: #fff;*/
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    border: 3px solid rgba(255, 255, 255, 0.1);
    
}

.service-container:hover {
    background: #1d59c876;
    transition: all 0.3s ease-out;
    transform: scale(1.1) translateZ(0);
}

.service-head>h5 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.service-body {
    width: 15vw;
    font-size: 16px;
    color: #e0e0e0;
    text-align: center;
}